# C++ objects and libs

*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.dll
*.dylib

# Qt-es

*.pro.user
*.pro.user.*
moc_*.cpp
qrc_*.cpp
Makefile
*-build-*
*.obj
*.tlog
*.filters
*.user
*.sdf
vs/bspview/Debug/bspview.exe
*.ilk
vs/bspview/Debug/bspview.log
*.pdb
vs/bspview/Debug/bspview.Build.CppClean.log
*.idb
*.exe
vs/bspview/Release/bspview.Build.CppClean.log
